@font-face {
	font-family: “Pudelinka”;
	src: url(”Fonts/pudelinka.ttf” ) format('truetype’);
	font-weight: normal;
	font-style: normal;
}

body {
    background-image: url('Icons/background.jpg'); /* путь к фоновому изображению */
    background-size: cover;       /* растягивает изображение на весь экран */
    background-repeat: no-repeat; /* не повторять изображение */
    background-attachment: fixed;  /* фон остаётся на месте при прокрутке */
    background-color: #f0f8ff;    /* цвет фона на случай, если изображение не загрузится */
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}
p.quote { font-family: “Pudelinka”, cursive;}
